html, body, .principal { 
    height:auto; 
    margin:0;
    padding:0;
    font-family: "Inconsolata";
    font-size: 100%;
    font-weight: 400;
}

.encabezado1{
    width: 99%;
    height: auto;
    background-color: D0FA58;
    margin: 0.5em 0.5em 0.5em 0.5em;
}
.Head {
    width: 99%;
    height: 100px;
    background-color: D0FA58;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.Logo {
    width: 25%;
    height: auto;
    background-color: D0FA58;
    float: left;
    text-align:left;
}

.Men {
    width: 70%;
    height: 100px;
    float: right;
    background-color: D0FA58;
}
.encabezado2{
    width: 70%;
    height: 100px;
    float: right;
    background-color: D0FA58;
    text-align:center;

}

.contenido{
    width: 96%;
    height: 800px;
    background-color: white;
    margin: 20px 20px 20px 20px ;
}

.menu{
    width: 30%;
    height: auto;
    background-color: D0FA58;
    float: left;
    text-align:justify;
}

.pagina{
    width: 60%;
    height: 600px;
    background-color: D0FA58;
    float: right;
    text-align:justify;
    margin-right: 40px;
}

.piepagina{
    width: 100%;
    height: 100px;
    background-color: D0FA58;
    font-family: "Inconsolata";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
